<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candidat</title>
</head>
<body>
    <h3>CANDIDAT</h3>
    <h4>Liste des categories</h4>
    {% for cat in categories %}
    <ul>
        <li><a href="{% url 'dashboard:details' cat.id %}">{{cat.denomination}}</a></li>
    </ul>
    {% endfor %}

    <h4>Liste des offres</h4>
    {% for off in offres %}
    <ul>
        <li><a href="">{{off}}</a></li>
    </ul>
    {% endfor %}
</body>
</html>