<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recruteur</title>
</head>
<body>
    <h1>RECRUTEUR n° {{request.session.id_user}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nihil fugiat obcaecati beatae illo provident quasi hic cum magnam natus magni officia, 
        doloremque doloribus odit corporis soluta saepe fuga iste animi!</p>
    <br>
    <button>Deconnecter</button>
</body>
</html>