{% extends "blank.html" %}

{% block title %}Recruteur{% endblock %}

{% block css %}
{% load static %}

<link href="{% static 'assets/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
<script src="{% static 'assets/script/bootstrap-datetimepicker.js' %}"></script>
<link href="{% static 'assets/css/recruteur.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}


    <li class="mt">
        <a href="#">
            <i class="fa fa-home"></i>
            <span>Accueil</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" >
            <i class="fa fa-user"></i>
            <span>Profil</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" >
            <i class="fa fa-file-text"></i>
            <span>Annonces</span>
        </a>
        <ul class="sub">
            <li><a  href="#">
                <i class="fa fa-plus"></i>
                <span>Nouvelle annonce</span>
                </a>
            </li>
            <li><a  href="#">
                <i class="fa fa-list"></i>
                <span>Liste</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" >
            <i class="fa fa-envelope-o"></i>
            <span>Messages</span>
        </a>
        <!-- <ul class="sub">
            <li><a  href="basic_table.html">Basic Table</a></li>
            <li><a  href="responsive_table.html">Responsive Table</a></li>
        </ul> -->
    </li>
    <li class="sub-menu">
        <a href="javascript:;" >
            <i class=" fa fa-bar-chart-o"></i>
            <span>Statistiques</span>
        </a>
        <!-- <ul class="sub">
            <li><a  href="morris.html">Morris</a></li>
            <li><a  href="chartjs.html">Chartjs</a></li>
        </ul> -->
    </li>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-9 main-chart">
            <!-- <div class="row mtbox"> -->
                {% if message == "ok" %}
                <div class="alert alert-success">
                   Annonce enregistré
                </div>
                {% elif message == "non" %}
                <div class="alert alert-danger">
                   Il y a une erreur
                </div>
                {% endif%}

                
                <!-- debut listing offres -->
                <div class="row">
                    <div class="col-md-12">         
                        <h3 id="titre">Mes Postes</h3>
                        <div class="row mtbox">
                            {% for p in poste %}                
                            <div class="col-md-4 col-sm-4 mb"> <!-- ng-repeat="element in offres" -->
                                <!-- [[offres]] -->
                                
                                <div class="white-panel pn donut-chart card">
                                    <div class="white-header">                                               
                                        <h5>{{p.date_limite}}</h5>                            
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 goleft">
                                            <h3>{{p.intutile}}</h3>
                                            <p>
                                                <h5><i class="fa fa-list-alt"></i> Description</h5>                                    
                                                {{p.description}}
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 goleft">
                                            <p>
                                                <h5><i class="fa fa-th-list"></i> Mission</h5>                                    
                                                {{p.mission}}
                                            </p>
                                        </div>
                                        <a href="#" class="pull-right" >                                        
                                            <i class="fa fa-plus-square-o"></i>
                                            Voir plus
                                        </a>                                
                                    </div>
                                    <!-- <br> -->
                                </div>
                            </div>
                            {% endfor %}                
    
                        </div><!-- /row mtbox-->
                    </div>                            
                </div>
                <!-- FIN LISTING -->
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form method="POST" id="offreform" action="/dashboard/recruteur/">
                            {% csrf_token %}
                            {{ form.as_p}}
                            <button type="submit" class="btn btn-sm btn-save pull-right">Enregistrer</button>
                        </form>
                    </div>
                </div>
               
            <!-- </div> -->

        </div>
        <div class="col-lg-3 ds">
            <h3>CATEGORIES</h3>
            
            <ul class="list-group">
                {% for categorie in categories %}
                <li class="list-group-item"><a href="#">{{categorie.denomination}}</a></li>
                {% endfor %}
            </ul>
        
            <h3>DERNIERES ANNONCES</h3>
            <!-- First Member -->
            {% for annonce in dernieres_annonces %}
            <div class="desc">
                <div class="thumb">
                    <img class="img-circle" src="{% static 'assets/img/ui-danro.jpg' %}" width="35px" height="35px" align="">
                </div>
                <div class="details">
                    <p><a href="#">{{annonce.intutile}}</a><br/>
                        <muted>date limite: {{annonce.date_limite}}</muted>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                inline: true,
                sideBySide: true,
                // format: 'DD.MM.YYYY' /*remove this line if you want to use time as well */
            });
           
        });
    </script>

{% endblock %}